In [1]:
import pandas as pd
import joblib as jbl

In [9]:

# Create dummy input (must match training columns exactly)
dummy_data = pd.DataFrame([{
    'Year': 2025,
    'Kilometers_Driven': 450,
    'Mileage': 50,
    'Engine': 11997,
    'Power': 655,
    'Seats': 0,

    # Fuel Type (only one should be True)
    'Fuel_Type_Diesel': False,
    'Fuel_Type_LPG': False,
    'Fuel_Type_Petrol': True,

    # Owner Type
    'Owner_Type_Fourth & Above': False,
    'Owner_Type_Second': False,
    'Owner_Type_Third': False,

    # Transmission
    'Transmission_Manual': True,

    # Location (only one True)
    'Location_Bangalore': False,
    'Location_Chennai': False,
    'Location_Coimbatore': False,
    'Location_Delhi': False,
    'Location_Hyderabad': False,
    'Location_Jaipur': False,
    'Location_Kochi': False,
    'Location_Kolkata': False,
    'Location_Mumbai': True,
    'Location_Pune': False
}])

print(dummy_data)

   Year  Kilometers_Driven  Mileage  Engine  Power  Seats  Fuel_Type_Diesel  \
0  2025                450       50   11997    655      0             False

   Fuel_Type_LPG  Fuel_Type_Petrol  Owner_Type_Fourth & Above  ...  \
0          False              True                      False  ...

   Location_Bangalore  Location_Chennai  Location_Coimbatore  Location_Delhi  \
0               False             False                False           False

   Location_Hyderabad  Location_Jaipur  Location_Kochi  Location_Kolkata  \
0               False            False           False             False

   Location_Mumbai  Location_Pune
0             True          False

[1 rows x 23 columns]

In [3]:
model=jbl.load('Random_Forest_Car_price_Prediction')

In [10]:
model.predict(dummy_data)

array([75.8034])